touche-paper-template/

.ipynb_checkpoints
__pycache__
sample-output
predictions.jsonl
generations.jsonl

######################
# IntelliJ
######################
.idea/

######################
# R
######################
.RData
.Rhistory

######################
# Environment
######################
.venv
